<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--7">

    <div class="table-responsive">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Attempt Questions</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <div class="form-group">
                                                <ul *ngFor="let question of questions">
                                                    <label class="form-control-label">Question -
                                                        {{question.text}}</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="{{question.text}}" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            {{question.correctAnswer}}
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="{{question.text}}" id="flexRadioDefault2" checked>
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            {{question.answer1}} </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="{{question.text}}" id="flexRadioDefault3" checked>
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                            {{question.answer2}} </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="{{question.text}}" id="flexRadioDefault4" checked>
                                                        <label class="form-check-label" for="flexRadioDefault4">
                                                            {{question.answer3}} </label>
                                                    </div>
                                                    <br />
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" >Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>